/* == Classes == */

/* accomodate navbar */
body.has-navbar::before {
    content: "";
    display: block;
    height: 6rem;
}

/* TODO: remove unused classes
.d-block-hover:hover {
    display: block;
}

.z-1 {
    z-index: 1;
}
*/

.vh-75 {
    height: 75vh;
}

.link-hover-primary:hover {
    color: var(--bs-primary);
    text-decoration: underline !important;
}

/*
.hidden-button {
    visibility: hidden;
}

.exercise:hover .hidden-button {
    visibility: visible;
}
*/

.card.card-md {
    max-width: 500px;
}

.sortable-item-handle:hover {
    cursor: grab;
}

/* breakpoint: Medium */
@media (min-width: 768px) {
    .w-md-24 {
        width: 24rem !important;
    }
    /*
    .w-md-12 {
        width: 12rem !important;
    }
    */
}

