{
    "singleQuote": false,
    "tabWidth": 4,
    "printWidth": 80,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": ["**/*.jsp"],
            "options": {
                "printWidth": 120,
                "tabWidth": 2
            }
        }
    ]
    
}